html
	head
		link(href='/userInfoApp.css', rel='stylesheet')
		title Add a User
	body(class="AddNewUsers")
		a(href='/') home
		h1(class="alert")=message
		h1 Please fill in the following information:
		div(id="formToAdd")
			form(action='/add' method='post')
				div(class="input")
					label First Name 
					input(name='firstname')
				br
				div(class="input")
					label Last Name 
					input(name='lastname')
				br
				div(class="input")
					label Email 
					input(name='email')
				br
				input(type='submit' value='create user' class="stylized-button")