html
	head
		link(href='/userInfoApp.css', rel='stylesheet')
		title Welcome
	body(class="index")
		h1 User Information App
		h2 What would you like to do?
		a(href='users') show all users
		br
		a(href='search') search users
		br
		a(href='add') add new users