html
	head
		title Matches
		link(href='/userInfoApp.css', rel='stylesheet')
	body(class="matching")
		a(href='/') home
		h1(class="alert") Users Found!
		each user in matched
			li FIRST NAME: #{user.firstname} LAST NAME: #{user.lastname} EMAIL: #{user.email},